
.countdown {
    font-size: 22px;
    color: #fff;
    background-color: #1a1a1a;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    animation: pulse 1s infinite alternate;
    text-align: center;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}
