.content-text {
    font-size: 22px;
    color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    animation: pulse 1s infinite alternate, gradient 3s infinite;
    background: linear-gradient(45deg, #ff8a00, #e52e71, #2962ff, #00c9ff);

    background-size: 400% 400%;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
